In [4]:
import utils
import os
import re
import pandas as pd

In [7]:
automate = True

REPORT_PATTERNS = {
    r"SALES\s+PERFORMANCE\s+REPORT\s+Including\s+GST.*Retail\s*\$": utils.sales_perf_inc_gst_on_retail,
    r"SALES\s+PERFORMANCE\s+REPORT\s+Excluding\s+GST.*Retail\s*\$": utils.sales_perf_exc_gst_on_retail,
    r"SALES\s+PERFORMANCE\s+REPORT\s+Including\s+Tax.*Net\s*\$":    utils.sales_perf_inc_tax_on_net,
    r"SALES\s+PERFORMANCE\s+REPORT\s+Excluding\s+Tax.*Net\s*\$":    utils.sales_perf_exc_tax_on_net,
    r"BEST\s+SELLERS\s+REPORT\s+BY\s+QUANTITY":                     utils.best_sellers_qty,
    r"BEST\s+SELLERS\s+REPORT\s+BY\s+VALUE":                        utils.best_sellers_value,
    r"DAILY\s+SALES\s+SUMMARY\s+REPORT":                            utils.daily_sales_summary,
    r"MARKDOWN\s+REPORT":                                           utils.markdown,
    r"SALES\s+BY\s+CATEGORY\s+REPORT":                              utils.sales_by_category,
    r"Sales\s+By\s+Customer\s+Report":                              utils.sales_by_customer,
    r"SALES\s+BY\s+SUB\s+DEPARTMENT\s+REPORT":                      utils.sales_by_sub_dept,
    r"STOCK\s+REFILL\s+REPORT":                                     utils.stock_refill,
    r"TENDER\s+BREAKDOWN\s+DETAIL\s+REPORT":                        utils.tender_breakdown_detail,
    r"TENDER\s+BREAKDOWN\s+SUMMARY\s+REPORT":                       utils.tender_breakdown_summary,
}

FLAGS = re.I | re.S  # case-insensitive; dot matches newlines

def detect_handler(text: str):
    # normalise multiple spaces/newlines for more robust matching
    norm = re.sub(r"[ \t]+", " ", text)
    for pattern, handler in REPORT_PATTERNS.items():
        if re.search(pattern, norm, FLAGS):
            return handler, pattern
    return None, None

def process_report(text: str):
    handler, pattern = detect_handler(text)
    if handler:
        print(f"Matched pattern: {pattern}")
        report_df = handler(text)
        print(report_df)
    else:
        print("Unknown report type — no handler matched.")

inputs = []

if automate:
    path = r"C:\Users\Siva\Documents\GitHub\Power-BI-Tutorial-MS-Press\Power BI Proj SC FS BM\25 03 27 Full Report Set"

    try:
        if not os.path.exists(path):
            raise FileNotFoundError(f"❌ Directory not found: {path}")

        txt_files = [f for f in os.listdir(path) if f.endswith(".txt")]
        if not txt_files:
            raise FileNotFoundError("❌ No .txt files found in the directory.")

        for filename in txt_files:
            file_path = os.path.join(path, filename)
            with open(file_path, "r", encoding="utf-8") as f:
                inputs.append(f.read())

        print(f"✅ Loaded {len(inputs)} reports successfully.")

    except Exception as e:
        print(f"Error: {e}")
        inputs = []  # ensure defined, even after error

else:
    report = input("Paste your report here:\n")
    inputs = [report]

for text in inputs:
    process_report(text)

✅ Loaded 16 reports successfully.
Matched pattern: SALES\s+PERFORMANCE\s+REPORT\s+Including\s+GST.*Retail\s*\$
Processing: Sales Performance (Incl. GST on Retail $)
    sales_person  retail_$_incl_disc  discount  returns     net_$  \
0      Alejandra              134.99      0.00  -134.99      0.00
1          Alice              231.98    -50.00  -381.97   -149.99
2           Amal              381.97    -26.00  -237.98    143.99
3         Amanda            57239.91  10199.23 -3265.24  53974.67
4          Amber                0.00    -50.00  -199.99   -199.99
..           ...                 ...       ...      ...       ...
145      Valeria                0.00      0.00  -189.00   -189.00
146     Victoria             2407.32    904.42   -74.99   2332.33
147    Wendy Ann            18843.52   3883.40  -829.43  18014.09
148        Yifan              127.49    -42.50  -127.49      0.00
149          Zoe                0.00     -9.00   -80.99    -80.99

     avg_sale_units  avg_sale_$  %_store_total
0              1.00      134.99           0.00
1              0.67       77.33           0.01
2              1.50      190.99           0.01
3              1.67      173.98           1.66
4              0.00        0.00           0.00
..              ...         ...            ...
145            0.00        0.00           0.00
146            1.93      160.49           0.07
147            1.45      138.56           0.55
148            1.00      127.49           0.00
149            0.00        0.00           0.00

[150 rows x 8 columns]
Matched pattern: SALES\s+PERFORMANCE\s+REPORT\s+Excluding\s+GST.*Retail\s*\$
Processing: Sales Performance (Excl. GST on Retail $)
    sales_person  retail_$_incl_disc  discount  returns     net_$  \
0      Alejandra              122.71      0.00  -122.71      0.00
1          Alice              210.90    -45.45  -347.26   -136.36
2           Amal              347.25    -23.63  -216.36    130.89
3         Amanda            52036.54   9271.91 -2968.41  49068.13
4          Amber                0.00    -45.45  -181.81   -181.81
..           ...                 ...       ...      ...       ...
145      Valeria                0.00      0.00  -171.81   -171.81
146     Victoria             2188.48    822.19   -68.17   2120.31
147    Wendy Ann            17130.60   3530.28  -754.03  16376.57
148        Yifan              115.90    -38.64  -115.90      0.00
149          Zoe                0.00     -8.18   -73.63    -73.63

     avg_sale_units  avg_sale_$  %_store_total
0              1.00      122.71           0.00
1              0.67       70.30           0.01
2              1.50      173.63           0.01
3              1.67      158.17           1.66
4              0.00        0.00           0.00
..              ...         ...            ...
145            0.00        0.00           0.00
146            1.93      145.90           0.07
147            1.45      125.96           0.55
148            1.00      115.90           0.00
149            0.00        0.00           0.00

[150 rows x 8 columns]
Matched pattern: SALES\s+PERFORMANCE\s+REPORT\s+Including\s+Tax.*Net\s*\$
Processing: Sales Performance (Incl. Tax on Net $)
            sales_person  retail_$_after_disc  discount  returns     net_$  \
0    Alejandra Rodriguez               134.99      0.00   134.99      0.00
1            Alice Deady               231.98     46.36   381.97   -149.99
2           Amal Hammoud               241.98    106.37    97.99    143.99
3          Amanda Durham             56932.43   9395.42  2957.76  53974.67
4            Amber Uther                 0.00    -45.45   199.99   -199.99
..                   ...                  ...       ...      ...       ...
145         Valeria Hrda                 0.00     36.36   189.00   -189.00
146  Victoria Sokolowska              2407.32    822.19    74.99   2332.33
147     Wendy Ann Manalo             18843.52   3530.28   829.43  18014.09
148            Yifan Zhu               127.49      0.00   127.49      0.00
149           Zoe Martin                 0.00     29.08    80.99    -80.99

     #_of_trans  avg_sale_units  avg_sale_$  %_store_total
0             1            0.00        0.00           0.00
1             3           -0.33      -50.00           0.00
2             2            0.50       72.00           0.00
3           329            1.58      164.06           1.69
4             1           -1.00     -199.99          -0.01
..          ...             ...         ...            ...
145           1           -1.00     -189.00          -0.01
146          15            1.87      155.49           0.07
147         136            1.38      132.46           0.57
148           1            0.00        0.00           0.00
149           1           -1.00      -80.99           0.00

[150 rows x 9 columns]
Matched pattern: SALES\s+PERFORMANCE\s+REPORT\s+Excluding\s+Tax.*Net\s*\$
Processing: Sales Performance (Excl. Tax on Net $)
None
Matched pattern: BEST\s+SELLERS\s+REPORT\s+BY\s+QUANTITY
Processing: Best Sellers by Quantity
       style      colour  qty  avg_price     net_$
0     115179       White  104     147.35  15213.96
1     115359       Black  101     168.32  16981.99
2     115359  ClassicNav   94     168.29  15792.06
3     115179       Black   94     144.60  13659.38
4     115179     Natural   92     147.95  13579.09
...      ...         ...  ...        ...       ...
2229  207726    WhiMulti   -1     129.99   -129.99
2230  205083     Fatigue   -1     139.99   -139.99
2231  117864  Navy Multi   -1     199.99   -199.99
2232  119104        Milk   -1     329.99   -329.99
2233  119772   Tan/White   -1     369.99   -369.99

[2234 rows x 5 columns]
Matched pattern: BEST\s+SELLERS\s+REPORT\s+BY\s+VALUE
Processing: Best Sellers by Value
       style      colour  qty  avg_price     net_$
0     115359       Black  101     168.32  16981.99
1     115359  ClassicNav   94     168.29  15792.06
2     117434      String   44     360.57  15752.58
3     115179       White  104     147.35  15213.96
4     119110        Sand   37     426.55  15172.91
...      ...         ...  ...        ...       ...
2229  118570       Multi    0     209.49   -180.99
2230  117864  Navy Multi   -1     199.99   -199.99
2231  117923    Beetroot    0     204.49   -290.99
2232  119104        Milk   -1     329.99   -329.99
2233  119772   Tan/White   -1     369.99   -369.99

[2234 rows x 5 columns]
Matched pattern: DAILY\s+SALES\s+SUMMARY\s+REPORT
Processing: Daily Sales Summary
      day       date    gross     disc      net   ex_gst
0     Sat 2022-04-16  9749.34  2037.00  7712.34  7011.22
1     Mon 2022-04-18  4869.74   974.00  3895.74  3541.58
2     Tue 2022-04-19  4259.73   704.50  3555.23  3232.03
3     Wed 2022-04-20  2789.80   316.50  2473.30  2248.45
4     Thu 2022-04-21  6738.60  1536.00  5202.60  4729.64
...   ...        ...      ...      ...      ...      ...
1060  Sun 2025-03-23  2566.84   486.81  2080.03  1890.94
1061  Mon 2025-03-24  2659.79   581.98  2077.81  1888.92
1062  Tue 2025-03-25  1599.89   320.00  1279.89  1163.54
1063  Wed 2025-03-26  4239.73   831.00  3408.73  3098.85
1064  Thu 2025-03-27  1249.91   181.00  1068.91   971.74

[1065 rows x 6 columns]
Matched pattern: MARKDOWN\s+REPORT
Processing: Markdown Report

c:\Users\Siva\Documents\GitHub\Power-BI-Tutorial-MS-Press\utils.py:385: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['date'] = pd.to_datetime(df['date'])

     markdown_id markdown_description        date style_code      description  \
0           4180              Nothing  16/01/2024     108230        Eva Capri
1           4180              Nothing  16/01/2024     111750        Eva Short
2           4180              Nothing  16/01/2024     111750        Eva Short
3           4180              Nothing  16/01/2024     111767    Martina Short
4           4227         SCW24FINALPP  11/04/2024     111800        Eva Capri
...          ...                  ...         ...        ...              ...
4067        4318          SCFINALPPKW  30/10/2024  SPKTP0116  SEA GARDEN LIBE
4068        4318          SCFINALPPKW  30/10/2024  SPKTP0119  AUDREY SS FRILL
4069        4318          SCFINALPPKW  30/10/2024  SPKTP0120  JO PRINTED FRIL
4070        4318          SCFINALPPKW  30/10/2024  SPKTP0121  EVELYN PRINT BL
4071        4318          SCFINALPPKW  30/10/2024  SPKTPO112    WILLOW BLOUSE

      department      colour  soh  price  \
0     Womenswear        Navy    0   39.0
1     Womenswear   Cappacino    0   39.0
2     Womenswear  ClassicNav    0   19.0
3     Womenswear       White    0   19.0
4     Womenswear       Black    0   39.0
...          ...         ...  ...    ...
4067    Kidswear  Navy Multi    0   29.0
4068    Kidswear       White    0   29.0
4069    Kidswear       Multi    0   29.0
4070    Kidswear    Chambray    0   29.0
4071    Kidswear       Lilac    0   29.0

                                          price_history
0                     {39.0: ('16/01/2024', 'Nothing')}
1     {49.0: ('30/09/2022', 'WK9SEPWWCLN'), 39.0: ('...
2                     {19.0: ('16/01/2024', 'Nothing')}
3                     {19.0: ('16/01/2024', 'Nothing')}
4     {79.0: ('30/09/2022', 'WK9SEPWWCLN'), 59.0: ('...
...                                                 ...
4067  {59.0: ('06/03/2024', 'SCW24MSS'), 39.0: ('11/...
4068  {39.0: ('28/05/2024', 'SCW24EOSS'), 29.0: ('30...
4069  {39.0: ('28/05/2024', 'SCW24EOSS'), 29.0: ('30...
4070  {49.0: ('28/05/2024', 'SCW24EOSS'), 29.0: ('30...
4071  {59.0: ('21/08/2024', 'SCS24MSSV1'), 29.0: ('3...

[4072 rows x 10 columns]
Matched pattern: SALES\s+BY\s+CATEGORY\s+REPORT
Processing: Sales by Category
   description  quantity  gross_sale
0   Womenswear     14100  1850384.62
1     Menswear      7963   881273.58
2     Kidswear      2653   111233.22
3  Accessories       550    31947.70
4         None       149    17613.70
5       zEtail      2584     6000.00
6          zGV         2      278.98
7    Packaging        -1       -0.50
Matched pattern: Sales\s+By\s+Customer\s+Report
Processing: Sales by Customer
           customer       date  qty  sales_gst_inc  sales_gst_exc
0      . Lm12394277 2022-10-01    3         137.00         124.54
1       Aaron Fluke 2022-06-01    2         503.09         457.37
2       Aaron Fluke 2022-07-20    2          82.99          75.46
3        Abdul Khen 2022-06-17    2         135.19         122.91
4     Ada Giaquinto 2022-10-09    1         134.99         122.71
...             ...        ...  ...            ...            ...
3913   Zoe Alderton 2022-10-07   -1        -112.49        -102.26
3914   Zoe Alderton 2022-10-07    1         134.99         122.71
3915     Zoe Cruice 2022-11-27    1         135.99         123.63
3916     Zoe Ezzard 2022-09-11    5         255.00         231.82
3917     Zoe Ezzard 2022-09-18   -2         -98.00         -89.10

[3918 rows x 5 columns]
Matched pattern: Sales\s+By\s+Customer\s+Report
Processing: Sales by Customer
           customer       date  qty  sales_gst_inc  sales_gst_exc
0          A Wilson 2023-09-09    2         439.19         399.27
1      Aaran Creece 2023-03-23    1          80.99          73.63
2       Aaron Fluke 2023-07-23    1         143.99         130.90
3       Abdul Wahab 2023-09-30    5         309.96         281.80
4     Ada Giaquinto 2023-04-30    3         535.97         487.24
...             ...        ...  ...            ...            ...
5199      Zoe Roddy 2023-08-14    8        1098.94         999.02
5200      Zoe Roddy 2023-08-14    1         116.99         106.35
5201      Zoe Roddy 2023-12-19    3         338.97         308.14
5202      Zoe Roddy 2023-12-28    0         -16.00         -14.54
5203  Zoheb Hussain 2023-03-31    1          47.99          43.63

[5204 rows x 5 columns]
Matched pattern: Sales\s+By\s+Customer\s+Report
Processing: Sales by Customer
             customer       date  qty  sales_gst_inc  sales_gst_exc
0     Aaron Di Pietro 2024-02-04    2         127.48         115.90
1     Aaron Di Pietro 2024-05-10    2         127.48         115.90
2       Abbey Johnson 2025-01-06    1         332.99         302.71
3       Ada Giaquinto 2024-04-21    1         135.99         123.63
4       Ada Giaquinto 2024-09-25    4         440.97         400.87
...               ...        ...  ...            ...            ...
7649         Zara Lee 2024-07-05    1         159.99         145.45
7650     Zeina Chehav 2024-10-08    7         203.00         184.58
7651        Zell Ryan 2024-05-13    1         149.99         136.36
7652     Zoe Robinson 2025-02-22    2         127.98         116.34
7653        Zoe Roddy 2024-12-12    2         161.98         147.26

[7654 rows x 5 columns]
Matched pattern: SALES\s+BY\s+SUB\s+DEPARTMENT\s+REPORT
Processing: Sales by Sub Department
    dept sub_dept   type  description  quantity  gross_sale
0     AC        A  Women  Accessories         9      818.92
1     AC        B    Men          Bag         3     1199.97
2     AC        B  Women          Bag        10     1033.96
3     AC        B    Men         Belt        80     7361.60
4     AC        B  Women         Belt        21     2459.79
..   ...      ...    ...          ...       ...         ...
116   SR        B  Short    Boys 3-10       108     3809.61
117   SR        D  Short        Denim        16     1683.90
118   SR        G  Short   Girls 3-10       106     4319.95
119   SR        S  Short        Short      1278   125428.60
120   SR        W  Short        Woven       772    77562.47

[121 rows x 6 columns]
Matched pattern: STOCK\s+REFILL\s+REPORT
Processing: Stock Refill
         product      colour             name size  sold  soh
0         112708  ClassicNav  Daisy Linen Shi    6     3    0
1         112708  ClassicNav  Daisy Linen Shi    8     1    0
2         112708  ClassicNav  Daisy Linen Shi   10     2    0
3         112708  ClassicNav  Daisy Linen Shi   12     3    0
4         112708       White  Daisy Linen Shi    8     1    0
...          ...         ...              ...  ...   ...  ...
13209  SPKTPO112       Lilac    WILLOW BLOUSE    4     1    0
13210  SPKTPO112       Lilac    WILLOW BLOUSE    6     1    0
13211  SPKTPO112       Lilac    WILLOW BLOUSE    7     1    0
13212  SPKTPO112       Lilac    WILLOW BLOUSE    8     1    0
13213  SPKTPO112       Lilac    WILLOW BLOUSE   10     2    0

[13214 rows x 6 columns]
Matched pattern: TENDER\s+BREAKDOWN\s+DETAIL\s+REPORT
Processing: Tender Breakdown Detail
            day       date           tender     docket_no sales_rep  \
4      Saturday 2022-04-16  Integrated EFTP  D36300000009   Georgia
5      Saturday 2022-04-16  Integrated EFTP  D36300000010    Jessie
6      Saturday 2022-04-16  Integrated EFTP  D36300000011    Jessie
7      Saturday 2022-04-16  Integrated EFTP  D36300000012    Jessie
8      Saturday 2022-04-16  Integrated EFTP  D36300000013   Shabair
...         ...        ...              ...           ...       ...
20741  Thursday 2025-03-27  Integrated EFTP  D36300038589     Pammi
20738  Thursday 2025-03-27     Gift Voucher  D36300038596     Renee
20742  Thursday 2025-03-27  Integrated EFTP  D36300038596     Renee
20743  Thursday 2025-03-27  Integrated EFTP  D36300038597     Pammi
20744  Thursday 2025-03-27  Integrated EFTP  D36300038598     Renee

                     time   value
4     2026-01-07 09:29:00  183.99
5     2026-01-07 09:33:00  231.98
6     2026-01-07 09:42:00  159.99
7     2026-01-07 09:46:00  175.99
8     2026-01-07 09:53:00  247.98
...                   ...     ...
20741 2026-01-07 10:35:00  116.99
20738 2026-01-07 11:30:00   20.00
20742 2026-01-07 11:30:00  141.98
20743 2026-01-07 12:41:00  143.99
20744 2026-01-07 13:53:00  179.99

[20745 rows x 7 columns]
Matched pattern: TENDER\s+BREAKDOWN\s+SUMMARY\s+REPORT
Processing: Tender Breakdown Summary
            day       date             tender    value
0      Saturday 2022-04-16               CASH   160.00
1      Saturday 2022-04-16       Gift Voucher    20.00
2      Saturday 2022-04-16  Integrated EFTPOS  7836.33
3        Monday 2022-04-18  Integrated EFTPOS  3591.76
4       Tuesday 2022-04-19  Integrated EFTPOS  3555.23
...         ...        ...                ...      ...
2557  Wednesday 2025-03-26       Gift Voucher    20.00
2558  Wednesday 2025-03-26  Integrated EFTPOS  2778.77
2559  Wednesday 2025-03-26  Mail Order Pickup   225.98
2560   Thursday 2025-03-27       Gift Voucher    20.00
2561   Thursday 2025-03-27  Integrated EFTPOS  1048.91

[2562 rows x 4 columns]

c:\Users\Siva\Documents\GitHub\Power-BI-Tutorial-MS-Press\utils.py:588: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['time'] = pd.to_datetime(df['time'], dayfirst=True)